body{
    background-color: #101014;
}

            
/* Navbar */

.nav{
    padding-top: 10px;
}

.navbar-logo img{
    border-radius: 50%;
    margin-right: 5px;
}

.navbar-brand{
    font-weight: bolder;
    margin-right: 20px;
}

.navbar-collapse{
    font-style: arial sans-serif;
    font-size: 16px;
    font-family: 400;
}

.navbar-collapse button{
    font-style: arial sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* Hero-Content */

.mymain video{
    border-radius: 25px;
    max-width: 100%;
}

.hero-txt{
    color: white;
}

.hero-txt h2{
    font-size: 50px;
    font-weight: 900;
    font-style: sans-serif;
}

.hero-txt p{
    font-size: 20px;
    font-style: sans-serif;
}

.hero-txt img{
    border-radius: 50%;
    margin-right: 5px;
}

.hero-txt h3{
    font-size: 28px;
    margin-bottom: 30px;
}

.hero-txt .h2-last{
    margin-bottom: 20px;
}

.hero-txt p{
    margin-bottom: 30px;
}


/* content-1 */

.content-1{
    color: white;
}

.content-1 h2{
    font-weight: bolder;
}
.content-1 h3{
    color: white;
}


/* content-2 */

.content-2 .C2-info{
    color: white;
}

.content-2 .C2-img img{
    border-radius: 25px;
    max-width: 100%;
}

/* content-3 */

.content-3{
    color: white;
}

/* IMAGE-CONTENT */

.content-3 img{
    border-radius: 25px;
}

.content-3 .card-1 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-2 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-3 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-4 .img-title{
    position: relative;
    bottom: 50px;
    left: 0px;
}
.content-3 .card-5 .img-title{
    position: relative;
    bottom: 50px;
    left: 0px;
}
.content-3 .card-6 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-7 .img-title{
    position: relative;
    bottom: 50px;
    left: 0px;
}
.content-3 .card-8 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-9 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-10 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-11 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
/* FOOTER */

.footer-0{
    background-color: #18181c;
    color: white;
}

.footer-0 a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
}
